.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
span {
  display: block;
}
button {
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #d9d9d9;
  border-style: dashed;
  padding: 15px;
  border-width: 1px;
  margin: 15px;
}

button:hover {
  cursor: pointer;
  color: #40a9ff;
  background-color: #fff;
  border-color: #40a9ff;
}
button:focus {
  outline: 0 none;
}
